.checkoutProduct{
    display: flex;
    margin: 20px;
    margin-bottom: 20px;
}

.checkoutProduct_info{
    padding-left: 20px;
}

.checkoutProduct > button{
    background: yellow;
    border: 1px solid;
    margin-top: 10px;
    border-color: rgb(244, 225, 15);
    color: #111;
}

.checkoutProduct_image{
    object-fit: contain;
    width: 180px;
    height: 180px;
}

.checkoutProduct_rating{
    display: flex;
}

.checkoutProduct_title{
    font-size: 20px;
    font-weight: 800;
}